* {
    margin: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    color: #160f29;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
.tanya{
    background-color: #94fbab;
    padding: 20px;
    border-radius: 5px;
}
.jawab{
    background-color:#90d7ff;
    border-radius: 5px;
    padding: 20px;
}
