* {
    margin: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    color: #160f29;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
.tanya{
    background-color: #94fbab;
    padding: 20px;
    border-radius: 5px;
}
.jawab{
    background-color:#157145;
    color: #ffff;
    border-radius: 5px;
    padding: 20px;
}
a.stabilo{
    background-color: rgba(34, 12, 15, 0.8);
    display: inline;
    color: #ffff;
    padding: 10px;
    font-style: normal;
    border-radius: 5px;
    margin: 2px;
}
a{
    color: #ffff;
    text-decoration: none;
    font-weight: bolder;
}
a.halaman{
    background-color: #f58a07;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}
.parent-halaman{
    display: flex;
    justify-content: center;
}