* {
    margin: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: center;
}
.header{
    color: #230c0f;
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    width:500px;
    padding: 20px;
}

.tanya{
    background-color: #157145;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
}
.jawab{
    background-color:#94fbab;
    color: #000;
    border-radius: 5px;
    padding: 20px;
    text-align: justify;
}
a.stabilo{
    background-color: rgba(34, 12, 15, 0.8);
    display: inline;
    color: #ffff;
    padding: 10px;
    font-style: normal;
    border-radius: 5px;
    margin: 2px;
}
a{
    color: #ffff;
    text-decoration: none;
}
a.link{
    margin: 0px;
}
a.halaman{
    color: #000;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: background-color 1s, transform 0.5s, color 0.1s;
    font-size: 30px;
}
a.halaman:hover{
    background-color: #157145;
    transform: rotate(-5deg);
    color: #fff;
}
.parent-halaman{
    display: flex;
    justify-content: center;
    perspective-origin: 200;
    border-radius: 5px;
}
footer a{
    color: black;
}
footer{
    display: flex;
    justify-content: center;
}