* {
    margin: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    background-color: #230c0f;
    border-radius: 5px;
    width:500px;
    padding: 20px;
    perspective-origin: 500px;
}

.tanya{
    background-color: #94fbab;
    padding: 20px;
    border-radius: 5px;
}
.jawab{
    background-color:#157145;
    color: #ffff;
    border-radius: 5px;
    padding: 20px;
}
a.stabilo{
    background-color: rgba(34, 12, 15, 0.8);
    display: inline;
    color: #ffff;
    padding: 10px;
    font-style: normal;
    border-radius: 5px;
    margin: 2px;
}
a{
    color: #ffff;
    text-decoration: none;
    font-weight: bolder;
}
a.link{
    margin: 0px;
}
a.halaman{
    background-color: #f58a07;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 1s, transform 1s, color 1s;
}
a.halaman:hover{
    background-color: #ffcb47;
    transform: rotate(-5deg);
    color: #000;
}
.parent-halaman{
    display: flex;
    justify-content: center;
    perspective-origin: 200;
    background-color: bisque;
    border-radius: 5px;
}
footer a{
    color: black;
}