@import url(http://fonts.googleapis.com/css?family=Raleway:400,900);
* {
    margin: 20px;
    font-family: ;
    color: #000;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

}
header{
    display: flex;
    justify-content: center;
}
.header{
    color: #157145;
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    width:500px;
    padding: 20px;
}
div.tanyajawab div{
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
    font-size: 20px;
}
div.tanyajawab div.jawab{
    background-color: #94fbab;
}
div.jawab a{
    margin: 0px;
    color: #230c0f;
}
a.topik:hover{
    background-color: #157145;
    transform: rotate(-5deg);
    color: #fff;
}
.daftartopik{
    display: flex;
    justify-content: center;
    perspective-origin: 200;
    border-radius: 5px;
}
div.daftartopik a{
    color: #157145;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: background-color 1s, transform 0.5s, color 0.1s;
    font-size: 30px;
}
footer{
    display: flex;
    justify-content: center;
}
