@import url(http://fonts.googleapis.com/css?family=Raleway:400,900);
*{
    margin: 20px;
    color: #000;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
div.background img{
    position: fixed;
    height: 570px;
    z-index: -1;
}
.serambi{
    position: fixed;
    right: 0px; /*PERLU DIREVISI*/
    vertical-align: center;
}
div.serambi a img{
    transition: width 0.5s;
}
div.serambi a img:hover{
    width:70px;
}
/* div::first-letter{
    
} */
header{
    display: flex;
    justify-content: center;
}
.header{
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    width:500px;
    padding: 20px;
}
header div.header{
    color: #157145;
}
div.tanyajawab div{
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
    font-size: 20px;
}
div.tanyajawab div.jawab{
    background-color: #94fbab;
}
div.jawab a{
    margin: 0px;
    color: #230c0f;
}
a.topik:hover{
    background-color: #157145;
    transform: rotate(-5deg);
    color: #fff;
}
.daftartopik{
    display: flex;
    justify-content: center;
    perspective-origin: 200;
    border-radius: 5px;
}
div.daftartopik a{
    color: #157145;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: background-color 1s, transform 0.5s, color 0.1s;
    font-size: 30px;
    box-shadow: 5px 5px #94fbab;
}
footer{
    display: flex;
    justify-content: center;
}
details summary{
    border: 1px #94fbab solid;
    border-radius: 5px;
    padding: 20px;
    color: #230c0f;
}